NvrControl/NvrControl/webservice/mons.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="http://tempuri.org/mons.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:mons="http://tempuri.org/mons.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="DownloadTime"><!-- mons__DownloadTime -->

   <sequence>
     <element name="dwYear" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTime::dwYear -->
     <element name="dwMonth" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTime::dwMonth -->
     <element name="dwDay" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTime::dwDay -->
     <element name="dwHour" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTime::dwHour -->
     <element name="dwMinute" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTime::dwMinute -->
     <element name="dwSecond" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTime::dwSecond -->
   </sequence>
  </complexType>
  <complexType name="IPCINFO"><!-- mons__IPCINFO -->

   <sequence>
     <element name="HallNo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__IPCINFO::HallNo -->
     <element name="ipcPo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__IPCINFO::ipcPo -->
     <element name="channelID" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__IPCINFO::channelID -->
   </sequence>
  </complexType>
  <complexType name="SetSystemtimeInfo"><!-- mons__SetSystemtimeInfo -->

   <sequence>
     <element name="unYear" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemtimeInfo::unYear -->
     <element name="unMonth" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemtimeInfo::unMonth -->
     <element name="unDay" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemtimeInfo::unDay -->
     <element name="unHour" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemtimeInfo::unHour -->
     <element name="unMinute" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemtimeInfo::unMinute -->
     <element name="unSecond" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemtimeInfo::unSecond -->
   </sequence>
  </complexType>
  <complexType name="GetIpcVedioQualityInfo"><!-- mons__GetIpcVedioQualityInfo -->

   <sequence>
     <element name="ResoluRatio" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcVedioQualityInfo::ResoluRatio -->
     <element name="frame" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcVedioQualityInfo::frame -->
     <element name="CodeMode" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcVedioQualityInfo::CodeMode -->
     <element name="stream" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcVedioQualityInfo::stream -->
   </sequence>
  </complexType>
  <complexType name="SetIpcVedioQualityInfo"><!-- mons__SetIpcVedioQualityInfo -->

   <sequence>
     <element name="ResoluRatio" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQualityInfo::ResoluRatio -->
     <element name="frame" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQualityInfo::frame -->
     <element name="CodeMode" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQualityInfo::CodeMode -->
     <element name="stream" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQualityInfo::stream -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="GetoneInfos">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="get1">
   <complexType>
    <sequence>
     <element name="i" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__get1::i -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetDlSpeed">
   <complexType>
    <sequence>
     <element name="isOK" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__SetDlSpeed::isOK -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetDLSpeedResponse">
   <complexType>
    <sequence>
     <element name="isTrue" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__SetDLSpeedResponse::isTrue -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DownLoadByTime">
   <complexType>
    <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__DownLoadByTime::id -->
     <element name="nAudiNU" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__DownLoadByTime::nAudiNU -->
     <element name="nDevicePo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__DownLoadByTime::nDevicePo -->
     <element name="tmStart" type="mons:DownloadTime" minOccurs="1" maxOccurs="1"/><!-- mons__DownLoadByTime::tmStart -->
     <element name="tmEnd" type="mons:DownloadTime" minOccurs="1" maxOccurs="1"/><!-- mons__DownLoadByTime::tmEnd -->
     <element name="storePath" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- mons__DownLoadByTime::storePath -->
     <element name="mp4name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- mons__DownLoadByTime::mp4name -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="DownloadTimeResponse">
   <complexType>
    <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTimeResponse::id -->
     <element name="fileNameMp4" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTimeResponse::fileNameMp4 -->
     <element name="isOK" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__DownloadTimeResponse::isOK -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetIpcInfo">
   <complexType>
    <sequence>
     <element name="HallNo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcInfo::HallNo -->
     <element name="ipcPo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcInfo::ipcPo -->
     <element name="channelID" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcInfo::channelID -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetIpcInfoRes">
   <complexType>
    <sequence>
     <element name="isOK" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcInfoRes::isOK -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetSystemTimeInfo">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetSystemTimeRes">
   <complexType>
    <sequence>
     <element name="unYear" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__GetSystemTimeRes::unYear -->
     <element name="unMonth" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__GetSystemTimeRes::unMonth -->
     <element name="unDay" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__GetSystemTimeRes::unDay -->
     <element name="unHour" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__GetSystemTimeRes::unHour -->
     <element name="unMinute" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__GetSystemTimeRes::unMinute -->
     <element name="unSecond" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- mons__GetSystemTimeRes::unSecond -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetSystemTime">
   <complexType>
    <sequence>
     <element name="timeInfos" type="mons:SetSystemtimeInfo" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemTime::timeInfos -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetSystemInfoRes">
   <complexType>
    <sequence>
     <element name="isOK" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__SetSystemInfoRes::isOK -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DInit">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="InitRes">
   <complexType>
    <sequence>
     <element name="isOK" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__InitRes::isOK -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="DRelease">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ReleaseRes">
   <complexType>
    <sequence>
     <element name="isOK" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__ReleaseRes::isOK -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetIpcResoluRatio">
   <complexType>
    <sequence>
     <element name="nAudiNU" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcResoluRatio::nAudiNU -->
     <element name="nDevicePo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcResoluRatio::nDevicePo -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetIpcResoluRatioInfo">
   <complexType>
    <sequence>
     <element name="ResoluRatios" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/><!-- mons__GetIpcResoluRatioInfo::ResoluRatios -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetIpcVedioQuality">
   <complexType>
    <sequence>
     <element name="nAudiNU" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcVedioQuality::nAudiNU -->
     <element name="nDevicePo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcVedioQuality::nDevicePo -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetIpcVedioQualityInfoRes">
   <complexType>
    <sequence>
     <element name="vedioQuality" type="mons:GetIpcVedioQualityInfo" minOccurs="1" maxOccurs="1"/><!-- mons__GetIpcVedioQualityInfoRes::vedioQuality -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SetIpcVedioQuality">
   <complexType>
    <sequence>
     <element name="nAudiNU" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQuality::nAudiNU -->
     <element name="nDevicePo" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQuality::nDevicePo -->
     <element name="vedioInfo" type="mons:SetIpcVedioQualityInfo" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQuality::vedioInfo -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SetIpcVedioQualityInfoRes">
   <complexType>
    <sequence>
     <element name="isOK" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- mons__SetIpcVedioQualityInfoRes::isOK -->
    </sequence>
   </complexType>
  </element>
 </schema>

